@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container mt-5">
    <div class="row mb-auto">
        <div class="col-md-4">
            <div class="row no-gutters mb-4">
                <div class="col p-4 mb-4 card">
                    <div class="card-header">
                        <h5>Contoso University</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row no-gutters mb-4">
                <div class="col p-4 d-flex flex-column position-static card">
                    <div class="card-header">
                        <h5>Build Your Application</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text mb-auto">
                            Try to challange yourself and build the project on you're own!
                        </p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row no-gutters mb-4">
                <div class="col p-4 d-flex flex-column card">
                    <div class="card-header">
                        <h5>Download the Project</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text mb-auto">
                            You can download the completed project from GitHub.
                            <br />
                            <a href="https://github.com/anonymousvssv19/Contoso">Project link!</a>
                        </p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>