@page
@model ContosoUniversity.Pages.Home.HomeModel
@{
	ViewData["Title"] = "Home Index page";
}
<h1>Ha</h1>

<h2>You're an idiot'</h2>

<h3>
	This is a decoy page! <br /><br />

	L noob! <br /><br />

	Skill issue
</h3>

<div>
	<button type="button" class="btn btn-secondary" onclick="window.history.back();">Go Back</button>
</div>